.pie{
  background-color: $fondoFooter;
  height: 250px;
  width: 100vw;
  
  .navigate{
    margin-top: 50px;
    h4{
      color: $colorFontClaro;
    }
   
      li{
        a{
          color: $colorFontClaro;
        }
      }
    
  }
  .centro{
    margin-top: 50px;
    h3{
      color: $colorFontClaro;
    }
    p{
      color: $colorFontClaro;
    }
  }
  .creditos{
    margin-top: 50px;
    h4{
      color: $colorFontClaro;
    }
    p{
      color: $colorFontClaro;
    }
  }
}