.padre_cabezera{
  .cabezera{
    padding-top: 60px;
    p{
      padding-top: 40px;
      justify-content: center;
    }
    .redes_cabezera{
      margin-top: 50px;
      ul{
        li{
          a{
            color: $colorFontOscuro;
         
          }
          :hover{
            color: $colorFontClaro;
              padding: 6.5px;
                border-radius: 30px;
                background-color: $colorFontOscuro;
          }
        }
      }
    }
  }
}